create database [shop];
go
USE [shop];
GO
CREATE TABLE [dbo].[orders](
	[oid] [bigint] IDENTITY(1,1) primary key,
	[uid] [varchar](18) NULL,
	[date] [date] not NULL default getDate(),
	[money] [money] NULL,
	[paymode] [varchar](20) NULL,
	[payAccount] [varchar](20) NULL,
);
GO
CREATE TABLE [dbo].[goods](
	[gid] [varchar](10) PRIMARY KEY,
	[gname] [nchar](10) NULL,
	[brand] [nchar](10) NULL,
	[model] [varchar](20) NULL,
	[parameter] [varchar](100) NULL,
	[smallphoto] [varchar](20) NULL,
	[largephoto] [varchar](20) NULL,
	[price] [smallmoney] NULL,
	[category] [int] NULL,
);
GO
INSERT [dbo].[goods] VALUES (N'bjb151824', N'联想笔记本电脑   ', N'联想        ', N'bjb151824', N'4核/2G/200G', N'bjb151824_s', N'bjb151824', 6800.0000, 4)
INSERT [dbo].[goods] VALUES (N'bjb152019', N'索尼笔记本电脑   ', N'SONY      ', N'bjb152019', N'6核/3G/300G', N'bjb152019_s', N'bjb152019', 10000.0000, 4)
INSERT [dbo].[goods] VALUES (N'bjb152137', N'华硕笔记本电脑   ', N'ASUS      ', N'bjb152137', N'4核/3G/300G', N'bjb152137_s', N'bjb152137', 8000.0000, 4)
/****** Object:  Table [dbo].[details]    Script Date: 03/13/2017 21:32:39 ******/
GO
CREATE TABLE [dbo].[details](
	[oid] [bigint] NOT NULL,
	[gid] [varchar](10) NOT NULL,
	[num] [int] NULL,
	[price] [smallmoney] NULL,
    PRIMARY KEY ([oid] ASC,	[gid] ASC)
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[customers](
	[uid] [varchar](18) PRIMARY KEY,
	[uname] [varchar](10) NULL,
	[mobile] [varchar](15) NULL,
	[address] [nchar](20) NULL,
	[password] [varchar](15) NULL,
) ON [PRIMARY]
GO
CREATE TABLE [dbo].[shopingcart](
	[no] [varchar](18) PRIMARY KEY,
	[gid] [varchar](10) NOT NULL,
	[uid] [varchar](18) NOT NULL,
	[num] [int] NOT NULL
)
GO
CREATE TABLE [dbo].[categories](
	[cid] [int] IDENTITY(1,1) PRIMARY KEY,
	[category] [varchar](20) NULL,
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON
INSERT [dbo].[categories] ([cid], [category]) VALUES (1, N'照相机')
INSERT [dbo].[categories] ([cid], [category]) VALUES (2, N'摄像机')
INSERT [dbo].[categories] ([cid], [category]) VALUES (3, N'手机')
SET IDENTITY_INSERT [dbo].[categories] OFF
